{{fw-header openModal="openModal" logo="assets/images/logo.png"}}
{{#fw-nav}}
    <ul>
        <li><a>Navigation Link</a></li>
    </ul>
{{/fw-nav}}

<div class="fw-content fw-container gutter-padding">
     {{outlet}}
</div>

<div class="modals-wrapper">
    {{outlet 'modal'}}
</div>

{{fw-notifications}}