<div class="fw-row">
    <div class="fw-column s-12 m-2 l-4"></div>
    <div class="fw-column s-12 m-2 l-4">
        <div class="fw-content-box">
            <header>
                <h1>FW Kit Starter Application</h1>
            </header>

            <p><strong>Congratulations!</strong></p>
            <p>If you are seeing this page, you have set up your development environment correctly!</p>
        </div>
    </div>
</div>